{% extends 'main.html' %}






{% block title %}
    {{movie.name}} | {{ block.super }}
{% endblock %}

{% block content %}

<div class="wrapper">
    
    <div class="box box1">
<img src="{% if movie.image_url %}{{movie.image_url}}{% else %}https://place-hold.it/180x100/{% endif %}" class="imgresponsive" alt="Responsive image">
<div class="centered">{{movie.name}}</div>
</div>
</div>



{% for a in movie.actor.all %}
    <a class="btn {% if a.name == actor %}btn-primary{% else %}btn-outline-secondary{% endif %}" href="{% url 'actor' a.id %}">{{ a.name }}</a>
{% endfor %}
<p></p>
{% for g in movie.genres.all %}

    <a class="btn {% if g.name == genre %}btn-primary{% else %}btn-outline-secondary{% endif %}" href="/filmy/?genre={{ g.name }}">{{ g.name }}</a>

{% endfor %}






<p>{{ movie.description|safe }}</p>



<div class="my-2">
    <p class="text-end">
        <button
            class="btn btn-secondary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#addComment"
        >
            Přidej komentář
        </button>
    </p>

    <div class="row collapse" id="addComment">
        <div class="col-12 col-md-6 mx-auto">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="form-control btn btn-primary" type="submit" value="Odeslat" />
            </form>
        </div>
    </div>
</div>
    
{% for comment in comments %}
<p>
    <strong>{{ comment.author }}</strong>, {{ comment.created_at|date:"j. n. Y H:i" }}<br />
    {% if comment.rating %}{{ comment.rating }}%<br />{% endif %}
    {{ comment.text }}
</p>
<hr />
{% endfor %}

{% endblock content %}
